@font-face{
    font-family: NikeFont;
    src: url(../assets/fonts/TradeGothicW01BoldCn20.otf)
}


//Variables//

$lightGrayText: #8D8D8D;
$borderGray: #E5E5E5;

//Mixins//

@mixin navItemStyling{
    width: 100%;
    text-align: left;
    padding: 23px 46px 22px 30px;
    border-bottom: solid 1px #E5E5E5;
    display: block;
    box-sizing: border-box;
    line-height: 14px;
    font-size: 14px;
    font-family: Helvetica,Arial,sans-serif-condensed,sans-serif;
    background-color: #f7f7f7;
}

@mixin secoundryTextContainerMobile{
        position: relative;
        left: 0px;
        color: black;
        text-align: center;
}

//Document Stylings//
body{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

a:visited{
    color: inherit;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}




//Class Stylings//


.hidden-panel{
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
}

.expanded-panel{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    
    
}//Make sure is AFTER .hidden-panel in stylings//


.column{
    float: left;
    display: inline-block;
    width: 140px;
    margin-right: 20px
}

.delivery-wrapper{
    width: 525px;
    height: 60px;
    margin: 0px auto;
    align-content: center; 
}

.footer-heading{
    color: white;
    font-size: 14px;
    margin-bottom: 11px;
    font-family: NikeFont, Helvetica, Arial, sans-serif;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.footer-heading-bottom{
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: NikeFont, Helvetica, Arial, sans-serif;
    cursor: pointer;
    letter-spacing: 0.5px;    
}

.footer-text{
    color: #999;
    font-size: 11px;
    margin-bottom: 16px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    letter-spacing: 0.4px;
    
    &:hover{
        color: white;
    }
}

.hero-button{
    color: white;
    background-color: black;
    font-family: NikeFont, Helvetica, Arial, sans-serif;
    font-size: 14.5px;
    letter-spacing: -0.4px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    height: 40px;
    border-radius: 3px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
}

.hero-headline{
    font-family: NikeFont,Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 50px;
    padding: 0px;
    margin: 0px; 
    text-align: right;
    letter-spacing: -0.6px;
}

.hero-sub-button{
    display: none;
    width: 140px;
    background-color: #F7F7F7;
    color: black;
    border-radius: 0px;
}

.hero-supporting-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    padding: 0px;
    margin: 0px;
    text-align: right;
    letter-spacing: 0.3px;
}

.hero-text-bottom{
    margin-bottom: 5px;
}

.icon-bar{
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: black;
}

.legal-text{
    color: #999;
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.4px;
    margin-left: 5px;
    
    &:hover{
        cursor: pointer;
        color: white;
    }
}

.mobile-modal{
     position: absolute;
     top: 0px;
     left: 0px;
     height: 100%;
     width: 100%;     
     background-color: #F7F7F7;
     z-index: -1;
     opacity: 0;
     
     transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
        
    }

.nav-item{
    @include navItemStyling;
}

.nav-item-footer{
    @include navItemStyling;
}

.nav-item-back{
    width: 100%;
    text-align: center;
    padding: 23px 46px 22px 46px;
    border-bottom: solid 1px #E5E5E5;
    display: block;
    box-sizing: border-box;
    line-height: 14px;
    font-size: 100%;
    font-family: Helvetica,Arial,sans-serif-condensed,sans-serif;
    background-color: white;
}

.nav-item-catogory{
    font-family: NikeFont, Helvetica-Bold,Arial-BoldMT,Helvetica,Arial,sans-serif-condensed,sans-serif;
    color: #8d8d8d;
    padding: 17px 50px 16px 30px;
    background-color: white;
    text-transform: uppercase;
}

.nav-panel{
    background-color: white;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 40px;
    overflow-y: scroll!important;
}

.nav-panel-footer{
    background-color: white;
    position: relative;
    float: left;
    width: 100vw;
    
    .fa-chevron-right{
        float: right;
    }
    
}

.nav-sub-item{
    @include navItemStyling;
}

.nav-subcatagory-item{
    @include navItemStyling;
}

.secoundry-image-desktop{
    width: 100%;
}

.secoundry-image-mobile{
    width: 100%;
    display: none;
}

.secoundry-link{
    font-family: NikeFont, Helvetica, Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: -0.5px;  
    text-transform: uppercase;
}

.secoundry-text{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.3px;
    margin-bottom: 40px;
    cursor: pointer;
}

.secoundry-title{
    font-family: NikeFont, Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 25px;
    cursor: pointer;
    margin: 0px 0px 10px 0px;
    letter-spacing: -0.5px;
}

.secoundry-wrapper{
    position: relative;
}

.signup-wrapper{
    width: 300px;
    height: 60px;
    margin: 0px auto;
    align-content: center; 
}

.slider-content{
    width: 653px;
    height: 60px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.slider-content-headline{
    float: left;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    font-family: NikeFont, Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 16px;
    padding-top: 22px;
    box-sizing: border-box;
}

.slider-content-secoundry{
    float: left;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 13px;
    text-align: center;
    margin-left: 11px;
    padding-top: 18px;
    box-sizing: border-box;
    
    p{
        padding: 0px;
        margin: 0px;
        margin-bottom: 1px;
    }
}

.slider-content-details{
    float: left;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 13px;
    text-align: center;
    margin-left: 10px;
    padding-top: 23px;
    box-sizing: border-box;
    text-decoration: underline;
}

.social-icon{
    background-color: #444444;
    color: #191919;
    font-size: 15px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
    line-height: 25px;
    text-align: center;
    
    &:hover{
        color: white;
    }
}

.rotate{
    position: relative;
    top:-2px;
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}





//ID Stylings//

#button-women{
    position: absolute;
    border-bottom: 1px solid $borderGray;
    
}

#button-men{
    position: absolute;
    margin-top: 40px;
}

#column-social{
    float: right;
    display: inline-block;
    width: 200px;
    cursor: pointer;
    
    .footer-heading{
        text-align: right;
    }
}

#desktop-nav{
    margin: 0px;
    padding: 0px;
}

#flag{
    position: relative;
    top: 1px;
    padding: 15px 19px 11px 19px;

}

#footer-content-container{
    width: auto;
    max-width: 940px;
    padding: 42px 42px 0px 42px;
    margin: 0px auto;
}

#footer-links-container{
    height: 200px;
}

#footer-wrapper{
    width: 100%;
    height: 275px;
    float: left;
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: #191919;
}

#hero-button-wrapper{
    width: auto;
    float: right;
    margin-top: 20px;
}

#hero-button-shop-now-wrapper{
    position: absolute;
    right: 160px;
    width: auto;
}

#hero-image-desktop{    
    width: 100%;
}

#hero-image-mobile{    
    width: 100%;
    display: none;
}

#hero-learn-more{
    padding-left: 19px;
    padding-right: 19px;
    margin-left: 10px;
}

#hero-shop-now{
    display: block;
    width: 140px;
    padding-left: 14px;
    padding-right: 8px;
    margin: 0px;
    box-sizing: border-box;
    
    .fa-chevron-right{
        line-height: 40px;
        padding-left: 5px;
        font-size: 13px;
    }
}
    
#hero-text-container{
    position: absolute;
    top: 50%;
    right: 0px;
    padding: 50px;
    -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#hero-wrapper{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    margin-bottom: 0px;
    font-size: 0px;
}

#help{
    padding-bottom: 9px;
    padding-left: 11px;
    padding-right: 10px;
}

#join{
    padding-bottom: 9px;
    padding-left: 11px;
    padding-right: 13px;
}

#join-mobile{
    background-color: white;
    color: $lightGrayText;
    line-height: 15px;
    padding: 23px 20px;
    
}

#jumpman-logo{
    background-image: url(../assets/images/Jumpman_logo_gray.png);
    background-size: 17px 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 39px;
    width: 21px;
    padding: 0px 29px;
    cursor: pointer;
    
    &:hover{
        background-image: url(../assets/images/Jumpman_logo_red.png)
    }
}

#left-nav{
    float: left;
   
    li{
       float: left;
       color: $lightGrayText;
       font-size: 12px;
       font-weight: 400;
       vertical-align: middle;
       display: block;
       border-right: 1px solid $borderGray;
       line-height: 40px;
    }
    
    a{
        height: 39px!important;
        padding: 13px 32px 12px 32px;
    }
}

#legal-footer{
    float: left;
    position: relative;
    width: 100%;
    border-top: 1px solid #444444; 
    padding-top: 12px;
}

#legal-left{
    float: left;
    display: inline-block;
}

#legal-right{
    float: right;
    display: inline-block;
}

#main-nav-container{
    clear: both;
    float: left;
    position: relative;
    display: table;
    width: 100%;
    padding: 0px 32px 0px 31px;
    margin: 0px;
    background-color: white;
    border-bottom: 1px solid $borderGray;
    min-width: 768px;
    box-sizing: border-box;
}

#main-menu{
    text-align: center;
    vertical-align: middle;
    padding-left: 166px;
    display: table-cell;
    height: 68px;
    font-size: 15.2px;
    letter-spacing: .4px;
    
    li{
        position: relative;
        top: 2px;
        display: inline-block;
        color: #2f2f2f;
        font-family: NikeFont, Helvetica, Arial, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0px 17.9px;
    }
    
    a{
        vertical-align: middle;
        height: 66px;
        line-height: 68px;        
        display: inline-block;
    }
}

#mega-close{
    position: relative;
    top: 22px;
    width: 19px;
    height: 20px;
    padding-left: 0px;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: auto;
}

#mega-close-container{
    width: 100%;
    background-color: transparent;
}

#middle-bar{
    margin: 6px 0px 6px 0px;
}

#middle-bar-mega{
    margin: 4px 0px 4px 0px;
}

#mobile-button{
    float: right;
    width: 40px;
    height: 40px;
    display: block;
    background-color: white;
    border: none;
    outline-style: none;
    padding: 0px 8px;
}

#mobile-footer-wrapper{
    display: none;
}

#mobile-mega-menu-container{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    display: none;
    background-color: #bbb;
    
    .fa-chevron-right{
        position: absolute;
        right: 27px;
        float: right;
        font-size: 14px;
        color: #303030;
    }

    .fa-chevron-left{
        position: relative;
        left: 27px;
        top: 24px;
        float: left;
        font-size: 14px;
        color: #303030;
    }
}

#mobile-nav{
    display: none;
}

#mobile-nav-container{
    display: block;
    width: 100%;
    height: 59px;
    width: 100%;
    padding: 0px 20px 0px 28px;
    background-color: white;
    box-sizing: border-box;
}

#mobile-nav-right{
    position: absolute;
    display: inline-block;
    right: 0px;
    height: 59px;
    width: 143px;
    vertical-align: middle;
    color: black;
    padding-right: 20px;
    padding-top: 9px;
    box-sizing: border-box;
}

#navitagion-panel-container-footer{
    display: none;
}

#new-zealand-text{
    color: white;
    margin-right: 5px;
}

#right-nav{
    position: absolute;
    top: -2px;
    right: 13px;
    float: right;
    width: auto;
    
    
    li{
        color: $lightGrayText;
        font-size: 12px;
        font-weight: 400;
        vertical-align: middle;
        display: inline-block;
        line-height: 40px;
    }
    
    
    
}

#search-box{
    width: 120px;
    height: 36px;
    padding: 0px 31px 2px 41px;
    margin-left: 30px;
    border: 1px solid $borderGray;
    border-radius: 5px;
    box-sizing: padding-box;
    outline: none;
    transition: width .25s ease-in-out,margin-left .25s ease-in-out;
    -moz-transition: width .25s ease-in-out,margin-left .25s ease-in-out;
    -o-transition: width .25s ease-in-out,margin-left .25s ease-in-out;
    transition-delay:0.25;
}

#search-container{
    position: relative;
    vertical-align: middle;
    width: 224px;
    display: table-cell;
    height: 68px;
}

#search-desktop{
    position: absolute;
    top: 25px;
    left: 47px;
    font-weight: 100;
    color: #8D8D8D;
    transition: left .25s ease-in-out;
    -moz-transition: left .25s ease-in-out;
    -o-transition: left .25s ease-in-out;
    transition-delay:0.25;
    cursor: pointer;
}

#search-mobile{
    float: right;
    font-size: 22px;
    margin-top: 09px;
    margin-right: 20px;
    
}

#search-modal-clear{
    font-family: Helvetica,Arial,sans-serif-condensed,sans-serif;
    font-size: 12px;
    color: $lightGrayText;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    right: 64px;
    top: 24px;
    display: none;
}

#search-modal-close{
    position: absolute;
    top: 18px;
    right: 11px;
    width: 44px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    font-size: 17px;
}

#search-modal-header{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    background-color: white;
    padding: 0px;
    text-align: center;
}

#search-modal-input{
    width: 70%;
    color: black;
    font-family: Helvetica,Arial,sans-serif-condensed,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 18px 0 18px 28px;
    box-sizing: content-box;
    border: none;
    outline: none;
    float: left;
    
    &::-webkit-input-placeholder {
        color: $lightGrayText;
    }

    &:-moz-placeholder { 
        color: $lightGrayText;  
    }

    &:-ms-input-placeholder {  
        color: $lightGrayText; 
    }
}

#secoundry-content-wrapper{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    margin: 0px;
    padding: 0px;
}

#secoundry-left-wrapper{
    float: left;
    display: inline-block;
    width: 50%;
    font-size: 0px;
}

#secoundry-right-wrapper{
    float: left;
    display: inline-block;
    width: 50%;
    font-size: 0px;
}

#secoundry-kids-text{
    position: absolute;
    top: 7.5%;
    right: 7.5%;
    color: black;
    text-align: right;
}

#secoundry-rostarr-text{
    position: absolute;
    top: 7.5%;
    left: 7.5%; 
    color: white;
}

#secoundry-shoes-text{
    position: absolute;
    top: 7.5%;
    left: 7.5%;
    color: black; 
}

#secoundry-shop-men{
    display: inline-block;
    
}

#secoundry-shop-women{
    display: inline-block;
    margin-right: -15px;
    margin-left: 30px;
}

#secoundry-train-text{
    position: absolute;
    top: 7.5%;
    left: 3.25%; 
    color: black;
}

#secoundry-guide-text{
    position: absolute;
    bottom: 7.5%;
    right: 7.5%;
    color: black;
    
    .secoundry-text{
        margin-bottom: 18px;
    }
}

#shopping-cart-desktop{
    font-size: 16px;
    padding-left: 7px;
    padding-bottom: 19px;
}

#shopping-cart-mobile{
    float: right;
    font-size: 23px;
    margin-top: 09px;
    margin-right: 15px;
}

#slider-bar{
    float: left;    
    width: 100%;
    height: 61px;
    background-color: #F7F7F7;
    border-bottom: 1px solid $borderGray;

    
}

#slider-assets-wrapper{  
    width: 768px;
    height: 60px;
    margin: 0px auto;
    
    .fa-chevron-left{
        float: left;
        display: inline-block;
        position: relative;
        top: 22px;
        left: 22px;
        color: #303030;
        cursor: pointer;
    }
    
    .fa-chevron-right{
        float: right;
        display: inline-block;
        position: relative;
        top: -37px;
        right: 22px;
        color: #303030;
        cursor: pointer;
    }
    
}

#slider-window{
    width: 653px;
    height: 60px;
    margin: 0px auto;
    overflow: hidden;
}

#slider-container{
    background-color: #F7F7F7;
    width: 6000px;
    height: 60px;
    transform: translate3d(-653px, 0px,0px);
    -moz-transform: translate3d(-653px, 0px,0px);
    -o-transform: translate3d(-653px, 0px,0px);
    -webkit-transform: translate3d(-653px, 0px,0px);
    transition: transform 1000ms ease;
    -moz-transition: transform 1000ms ease;
    -o-transition: transform 1000ms ease;
    -webkit-transition: transform 1000ms ease;
}

#social-icons-container{
    float: right;
}

#swoosh-container{
    width: 58px;
    height: 67px;
    display: table-cell;
    background-image: url(../assets/images/swoosh.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#top-nav-container{
    float: left;
    height: 38px;
    width: 100%;
    line-height: 39px;
    border-bottom: 1px solid $borderGray;
    background-color: white;
}

#train-with-us-image{
    width: 100%;
    height: auto;
}

#train-with-us-wrapper{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}






@media only screen and (max-width: 1024px){
    
    .hero-headline{
        font-size: 30px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 906px){
    
    .hero-button{}
    
    #jumpman-logo{
        padding: 0 24px;
    }
    
    #left-nav{
        a{
            padding: 13px 24px 12px 24px;
        
        }
    }
    
    #main-menu{
        padding-left: 0px;
    }
    
    #main-nav-container{
        padding: 0 24px 0 23px;
    }
    
    #right-nav{
        right: 5px;
    }
    
    #search-box{
        width: 86px;
        padding: 0px 31px 2px 41px;
    }
    
    #search-container{
        width: 160px;
    }
    
    #secoundry-guide-text{
        .secoundry-text{
            text-align: right;
        }
    }
    
    #secoundry-shoes-text{
        .secoundry-link{
            margin-top:62px;
            margin-bottom: 0px;
        }
    }
    
    #secoundry-train-text{
        .secoundry-link{
            margin-top: 0px;
        }
        
        .secoundry-text{
            margin:10px 0px;
        }
    }
}

@media only screen and (max-width: 767px){
    
    .break{
        display: none;
    }
    
    .delivery-wrapper{
        width: 100%;
        height: 82px;
        width: 500px;
        
        .slider-content-headline{
            padding-top: 15px;
            display: block;
            width: 100%;
            margin: 0px;
            height: auto;
        }
        
        .slider-content-secoundry{
            display: block;
            width: 100%;
            padding: 0px;
            margin: 0px
        }
        
        .slider-content-details{
            display: block;
            width: 100%;
            padding: 0px;
            margin: 0px
        }
    }
    
    .hero-button{
        border-radius: 0px;
    }
    
    .hero-headline{
        text-align: center;
        font-size: 25px!important;
        
    }
    
    .hero-sub-button{
        display: none;
    }
        
    .hero-supporting-text{
        text-align: center;
        padding: 0px 10px;
        font-size: 15px!important;
    }
    
    .legal-text{
       width: 100%;
    }
    
    .modal-active{
        opacity: 1;
        z-index: 1001;
    }
    
    .secoundry-image-desktop{
        display: none;
    }
    
    .secoundry-image-mobile{
        display: block
    }
    
    .secoundry-link{
        font-family: NikeFont, Helvetica, Arial, sans-serif;
        font-size: 15px;
        cursor: pointer;
        letter-spacing: -0.5px; 
        text-transform:none;
        text-decoration: underline;
    }

    .secoundry-text{
        margin-bottom: 20px;
        cursor: pointer;
    }

    .secoundry-title{
        font-size: 25px;
        line-height: 25px;
        cursor: pointer;
        margin: 10px 0px 10px 0px;
        letter-spacing: -0.5px;
    }
    
    .slider-content{
        height: 82px;
        display: inline-block;
    }
    
    .signup-wrapper{
        width: 100%;
        height: 82px;
        padding-top: 25px;
        box-sizing: border-box;
        
        .slider-content-headline{
            display: block;
            width: 100%;
            height: auto;
            padding: 0px;
            margin-bottom: 3px;
        }
        .slider-content-details{
            display: block;
            width: 100%;
            padding: 0px;
            margin: 0px
        }
    }
    
    
    
    
                
    #desktop-nav{
        display: none!important;
    }
    
    #footer-content-container{
        width: auto;
    }
    
    #footer-wrapper{
        height: 120px;
    }
    
    #footer-links-container{
        display: none;
    }
    
    #hero-button-wrapper{
        width: 201px;
        margin: 10px auto;
        float: none;
    }
    
    #hero-button-shop-now-wrapper{
        display: inline-block;
        position: relative;
        right: 0px;
    }
    
    #hero-image-desktop{
        display: none;
    }
    
    #hero-image-mobile{
        display: block;
    }
    
    #hero-shop-now{
        display: inline-block;
        width: 90px;
    }
    
    #hero-text-container{
        position: relative;
        float: left;
        width: 100%;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        padding: 0px;
        margin: 20px 0px;
    } 
    
    #legal-footer{
        float: left;
        position: relative;
        padding-top: 12px;
    }

    #legal-left{
        display: block;
    }

    #legal-right{
        float: left;
        display: block;
    }
    
    #mobile-footer{
        margin: 0px auto;
        width: 160px;
        li{
            text-align: center;
            display: inline-block;
            font-family: NikeFont;
            font-size: 15px;
            color: white;
            text-align: center;
            padding: 0px 5px;

        }
    }
    
    #mobile-footer-wrapper{
        float: left;
        position: relative;
        background-color: #191919;
        width: 100%;
        padding-top: 25px;
        display: block;
    }

    #mobile-nav{
        display: block!important;
    }
    
    #navitagion-panel-container-footer{
        display: block;
    }
    
    #secoundry-left-wrapper{
        width: 100vw;
    }

    #secoundry-right-wrapper{
        width: 100vw;
    }
    
    #secoundry-guide-text{
        @include  secoundryTextContainerMobile;
        
        .secoundry-text{
            text-align: center;
        }
    }
        

    
    #secoundry-kids-text{
        @include  secoundryTextContainerMobile;
    }
    
    #secoundry-rostarr-text{
         @include  secoundryTextContainerMobile;
    }
    
    #secoundry-shoes-text{
        @include  secoundryTextContainerMobile;
        
        .secoundry-link{
            margin-top:15px;
            margin-bottom: 15px;
        }
    }
    
    #secoundry-train-text{
        @include  secoundryTextContainerMobile;
        
         .secoundry-link{
            margin-top:15px;
            margin-bottom: 15px;
        }
        
        .secoundry-text{
            margin-top:15px;
            margin-bottom: 15px;
        }
    }
   
    #shop-now-arrow{
        display: none;
    }
    
    #slider-assets-wrapper{
        width: 100vw;
        height: 82px;
        
        
        .fa-chevron-left{
            display: none;
        }
    
        .fa-chevron-right{
            display: none;
        }
        
    }
    
    #slider-bar{
        height: 82px;
        background-color: black;
        border-bottom: 1px solid black;
    }
    
    #slider-container{
        height: 82px;
        background-color: black;
        color: white;
        
        transform: translate3d(-825px, 0px,0px);
        -moz-transform: translate3d(-825px, 0px,0px);
        -o-transform: translate3d(-825px, 0px,0px);
        -webkit-transform: translate3d(-825px, 0px,0px);
    }
    
    #slider-window{
        width: 320px;
        height: 82px;
    }
    
    #swoosh-mobile{
        position: relative;
        display: inline-block;
        height: 59px;
        width: 48px;
        background-image: url(../assets/images/swoosh.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    
    
    
    
    
    
}





















